<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
 
  <form [formGroup] ="authentificationForm" (ngSubmit)="submit()">
    <div class="input-group">
      <ion-item>
        <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
      </ion-item>
      <div *ngIf="(authentificationForm.controls.email.dirty || authentificationForm.controls.email.touched) && authentificationForm.controls.email.errors" class="errors">
        <span *ngIf="authentificationForm.controls.email.errors?.required">{{emailRequiredField}}</span>
        <span *ngIf="authentificationForm.controls.email.errors?.email">{{emailInvalid}}</span>
      </div>
      <ion-item>
        <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
      </ion-item>
      <div *ngIf="(authentificationForm.controls.password.dirty || authentificationForm.controls.password.touched) && authentificationForm.controls.password.errors" class="errors">
        <span *ngIf="authentificationForm.controls.password.errors?.required">{{passwordRequiredField}}</span>
        <span *ngIf="authentificationForm.controls.password.errors?.pattern">{{passwordInvalid}}</span>
      </div>
    </div>
 
    <ion-button type="submit" expand="block" [disabled]="!authentificationForm.valid">Log in</ion-button>
    <ion-button type="button" expand="block" color="light" fill="clear">Not yet a member? Sign up!
    </ion-button>
  </form>
</ion-content>