ion-content {
    --ion-background-color:#e9edf3;
    --padding-top: 80px;
    --padding-start: 50px;
    --padding-end: 70px;
    font-weight: 600;

}
.button{
    margin-top: 10px;
    text-align: center;
}

.span {
    font-size:x-small;
    color: rgb(165, 18, 18);
}

.x
{
    background-color:#e9edf3;
    font-weight: 600;
    text-align: center;
    font-size:x-small;
}
