<ion-header>
  <ion-toolbar color="primary">
    <ion-title style="
    text-align: center;color: aqua;
">addRecipe</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content >
  
  <form style="     margin-top: 8%;
  border-radius: 11% 11% 11% 11%;
  box-shadow: 9px 11px 24px 8px #e5e5e5;
  height: 37%;">
    <ion-item>
      <ion-label>Title</ion-label>
      <ion-input type="text"  name="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Ingredients</ion-label>
      <ion-textarea name="description"></ion-textarea>
    </ion-item>
    <ion-item>
    <ion-button color="tertiary">
      <ion-icon name="camera"></ion-icon>
    </ion-button>
  </ion-item> 
      <ion-button color="secondary"     style="
     margin-left: 34%;
    margin-top: 1%;
    width: 105px;">
      <ion-icon name="restaurant-outline"></ion-icon>
      
    </ion-button>
  </form>
</ion-content>
