


<ion-header>
  <ion-toolbar>
    <ion-title>liste_client
                
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    
  <ion-item>
    <ion-avatar>
      <ion-img [src]=""> </ion-img>
    </ion-avatar>
      <ion-label>Utilisateur1 </ion-label>


      <div class="ion-padding">
        <ion-button (click)="openModale()">Popup</ion-button>
      </div>


      <div class="ion-padding">
        <ion-button>Modifier</ion-button>
      </div>
      

    </ion-item>

    <ion-item>
      <ion-avatar>
        <ion-img [src]=""> </ion-img>
      </ion-avatar>
      <ion-label>Utilisateur2</ion-label>

      <div class="ion-padding">
        <ion-button (click)="openModale()">Popup</ion-button>
      </div>

      <div class="ion-padding">
        <ion-button>Modifier</ion-button>
      </div>
    </ion-item>

    <ion-item>
      <ion-avatar>
        <ion-img [src]=""> </ion-img>
      </ion-avatar>
      <ion-label>Utilisateur3</ion-label>

      <div class="ion-padding">
        <ion-button (click)="openModale()">Popup</ion-button>
      </div>

      <div class="ion-padding">
        <ion-button>Modifier</ion-button>
      </div>
    </ion-item>

    
    
  </ion-list>

  
</ion-content>

